@page
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore;
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@model BookOrders.Pages.TestModel
@{
    ViewData["Title"] = "Test";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var result = ViewData["Result"] != null ? (string)ViewData["Result"] : "";
}

<h1>Test reCAPTCHA</h1>
@if (!string.IsNullOrWhiteSpace(result))
{
    <h1>@result</h1>
}


    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            @Html.Recaptcha(RecaptchaSettings.Value)
        </div>
        <button type="submit" class="btn btn-primary">Test</button>
    </form>

